.sign-in,
.sign-up {
  color: $font-color;
  padding: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  h3 {
    font-family: "Segoe UI";
    margin-bottom: 17px;
  }

  .error-message {
    color: $red;
  }

  input,
  button {
    font-size: 14pt;
    padding: 5px;
    width: 100%;
    margin: 3px 0;
    background: #fff;
    color: $font-color;
  }

  input {
    font-family: "Segoe UI";
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  }

  input::-webkit-input-placeholder {
    font-size: 12pt;
  }
  input::-moz-placeholder {
    font-size: 12pt;
  }
  input:-ms-input-placeholder {
    font-size: 12pt;
  }
  input:-moz-placeholder {
    font-size: 12pt;
  }

  button {
    font-family: "Segoe UI";
    font-size: 14pt;
    margin-top: 20px;
    border: 2px solid rgba(0, 0, 0, 0.6);
  }

  button:hover {
    background: #000;
    color: aliceblue;
  }
}
