.menu {
  width: 300px;
  height: max-content;
  background: #fff;
  position: absolute;
  right: 0;
  background: rgba(255, 255, 255, 0.75);
  border-bottom-left-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-top: none;
  display: flex;
  justify-content: center;
  color: $font-color;
  padding: 6px 0;

  &__username {
    display: flex;
    align-items: center;

    margin-left: 6px;
    margin-bottom: 6px;

    &_image {
      width: 44px;
      margin-right: 6px;
    }

    &_name {
      font-family: "Munson";
      font-size: 16pt;
    }
  }

  &_show {
    display: block;
  }

  &_hide {
    display: none;
  }
}
