.accept-btn,
.reject-btn,
.white-btn,
.purple-btn {
  border: 2px solid rgb(29, 29, 29);
  border-radius: 0;
  width: max-content;
  width: 49%;
  font-size: 12pt;
  line-height: 16pt;
}

.accept-btn {
  background: $blue;
}

.accept-btn:hover {
  background: #2b5797;
}

.reject-btn {
  background: $red;
}

.reject-btn:hover {
  background: #c20c0c;
}

.white-btn {
  background: #fff;
  color: #1d1d1d;
}

.white-btn:hover {
  background: rgb(233, 233, 233);
}

.purple-btn {
  background: $purple;
}

.purple-btn:hover {
  background: #492d91;
}

.add-column-btn {
  font-family: "Segoe UI Semibold";
  max-height: 50px;
  background: rgba(255, 255, 255, 0.75);
  color: $font-color;
  min-width: max-content;
}

.add-column-btn:hover {
  background: rgba(255, 255, 255, 0.9);
}

.add-card-btn {
  margin-top: 12px;
  background: #fff;
  width: 100%;
  color: $font-color;
  text-align: center;
  font-family: "Segoe UI Semibold";
  font-size: 12pt;
  line-height: 12pt;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.add-card-btn:hover {
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.wide-btn {
  color: $font-color;
  width: 100%;
  border: 0;
  background: transparent;
}

.wide-btn:hover {
  color: #fff;
}
