$buttons-border: 2px solid rgb(29, 29, 29);

// Colors
$font-color: #404040;
$green: #00a300;
$red: #ee1111;
$blue: #2d89ef;
$purple: #7e3878;
$darken: #1d1d1d;
$teal: #00aba9;
$yellow: #ffc40d;
$magenta: #ff0097;
