@font-face {
  font-family: "Amontillados";
  src: url("../_fonts/Amontillados.ttf");
}

@font-face {
  font-family: "Munson";
  src: url("../_fonts/Munson.otf");
}

@font-face {
  font-family: "Segoe UI";
  src: url("../_fonts/Segoe_UI.ttf");
}

@font-face {
  font-family: "Segoe UI Semibold";
  src: url("../_fonts/Segoe_UI_Semibold.ttf");
}
