@import "~bootstrap/scss/bootstrap.scss";
@import "./fonts.scss";
@import "./variables";
@import "../containers/Login/style.scss";
@import "../containers/Main/style.scss";
@import "../components/SignBlock/style.scss";
@import "../components/Header/style.scss";
@import "../components/TransparentButton/style.scss";
@import "../components/Coloumn/style.scss";
@import "../components/Card/style.scss";
@import "../components/CheckItem/style.scss";
@import "../components/Menu/style.scss";
@import "../_styles/modals";

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.main {
  background: url("../images/aharrypotterhotspot.jpg") center no-repeat;
}

.login {
  background: url("../images/backlit-clouds-dawn-1106429.jpg") center no-repeat;
}

p {
  word-wrap: break-word;
}

.d-flex {
  display: flex;
}

.d-flex_con-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
