.transparent-button {
  width: max-content;
  background: rgba(57, 57, 57, 0.3);
  color: aliceblue;
  padding: 9px 16px;
  cursor: pointer;
  font-size: 12pt;
  font-family: "Segoe UI";
  transition: 0.2s;
  border: 2px solid rgb(29, 29, 29);
}

.transparent-button:hover {
  background: rgba(57, 57, 57, 0.9);
}
