.header {
  justify-content: space-between;
  align-items: center;
  background: rgba(57, 57, 57, 0.3);
  color: #fff;
  padding: 5px 10px;
  font-family: "Munson";

  &__username-image {
    width: 45px;
    margin-right: 6px;
  }

  &__username {
    font-size: 16pt;
    margin-right: 10px;
  }

  &__logo {
    font-family: "Amontillados";
    font-size: 22pt;
  }

  &__menu-toggle {
    width: 20px;
    fill: #fff;
  }
}
